#home {
  @media (max-width: 500px) {
    height: 812px;
  }
  main {
    @media (max-width: 1440px) {
      background: url(../../assets/homeIllustrationBoy.svg) 78% 47% no-repeat,
        url(../../assets/homePencil.svg) 93.7% 52% no-repeat,
        url(../../assets/homeNotesPencilBlue.svg) 51% 40% no-repeat,
        url(../../assets/homeMessages.svg) 81% 90% no-repeat,
        url(../../assets/homeNotesPencilOrange.svg) 88% 16% no-repeat,
        url(../../assets/homeCompass.svg) 55% 14% no-repeat, url(../../assets/homeBackground.svg) 98% 42% no-repeat,
        url(../../assets/homeMenuRectangle.png) 2.5% 35% no-repeat;
    }
    @media (max-width: 1310px) {
      justify-content: center;
      background: none;
    }
    @media (max-width: 906px) {
      .menu-lateral {
        padding-left: 0;
        padding-top: 170px;

        .header-menu {
          display: flex;
          flex-direction: column;

          img {
            padding-bottom: 23px;
          }
          p {
            font-size: 14px;
          }
        }

        .body-menu {
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            font-size: 40px;
            text-align: center;
          }

          > p {
            font-size: 12px;
            width: 314px;
            height: 45px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.38px;
          }

          button {
            width: 294px;
            height: 45.85px;
            margin-top: 95px;

            p {
              font-size: 13.49px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
