#home {
  @media (max-height: 850px) {
    height: 105vh;
  }
  @media (max-height: 670px) {
    height: 100vh;
  }

  main {
    @media (max-width: 1075px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .menu-lateral {
      @media (max-width: 1295px) {
        transition: 1.82s all;
        width: 640px;
        height: 545px;
      }

      @media (max-width: 1075px) {
        background: #252160;
        margin-top: 0;
        transform: rotate(0deg);
        width: 480px;
        height: 445px;
        border-radius: 0;
      }
      @media (max-width: 545px) {
        width: 300px;
        height: 380px;
        margin: 0;
      }
      @media (max-width: 330px) {
        width: 180px;
        height: 380px;
        margin: 0;
      }

      .header-menu {
        @media (max-width: 1295px) {
          transition: 1.82s all;
          padding-top: 70px;
          padding-left: 100px;
        }
        @media (max-width: 1075px) {
          padding: 0;
          transform: rotate(0deg);
        }
        @media (max-width: 545px) {
          display: flex;
          flex-direction: column;

          p {
            font-size: 14px;
            margin: 23px 0px;
          }
        }

        p {
          @media (max-width: 330px) {
            font-size: 12px;
            width: 150px;
            text-align: center;
            margin: 15px 0px;
          }
        }
      }

      .body-menu {
        @media (max-width: 1075px) {
          padding: 0;
          transform: rotate(0deg);
        }

        @media (max-width: 330px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        h1 {
          @media (max-width: 1295px) {
            transition: 1.82s all;
            font-size: 50px;
          }
          @media (max-width: 545px) {
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            letter-spacing: -0.01em;
            margin: 0;
          }
          @media (max-width: 330px) {
            font-size: 25px;
            line-height: 28px;
          }
        }
        > p {
          @media (max-width: 1295px) {
            transition: 1.82s all;
            font-size: 15px;
            width: 423px;
          }
          @media (max-width: 545px) {
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.38px;

            width: 314px;
            height: 45px;
          }
          @media (max-width: 330px) {
            font-size: 12px;
            line-height: 15px;
            width: 170px;
            height: 65px;
            margin-top: 16px;
          }
        }

        a {
          button {
            @media (max-width: 545px) {
              width: 294px;
              height: 45.85px;
            }

            @media (max-width: 330px) {
              width: 194px;
            }

            .button-content {
              p {
                @media (max-width: 545px) {
                  font-size: 13.4862px;
                  line-height: 16px;
                  text-align: center;
                  letter-spacing: -0.477839px;
                }
              }
            }
          }
        }
      }
    }
    .illustration {
      @media (max-width: 1295px) {
        transition: 1.82s all;
        position: absolute;
        left: 50.98%;
        top: 28%;

        img {
          transition: 1.82s all;
          width: 526px;
          height: 526px;
        }
      }

      @media (max-width: 1075px) {
        transition: 1.82s all;
        position: absolute;
        left: 50.98%;
        top: 28%;

        img {
          width: 426px;
          height: 426px;
        }
      }

      @media (max-width: 1075px) {
        display: none;
      }
    }
    .background {
      @media (max-width: 1075px) {
        display: none;
      }
    }
  }
}
