#home {
  width: 100%;
  background-color: #252160;
  height: 100vh;

  main {
    display: flex;
    height: calc(100% - 79px);

    background: url(../../assets/home/homeIllustrationBoy.svg) 78% 47% no-repeat,
      url(../../assets/home/homePencil.svg) 93.7% 52% no-repeat,
      url(../../assets/home/homeNotesPencilBlue.svg) 58% 40% no-repeat,
      url(../../assets/home/homeMessages.svg) 85% 75% no-repeat,
      url(../../assets/home/homeNotesPencilOrange.svg) 88% 18% no-repeat,
      url(../../assets/home/homeCompass.svg) 60% 18% no-repeat,
      url(../../assets/home/homeBackground.svg) 98% 42% no-repeat,
      url(../../assets/home/homeMenuRectangle.png) 2.5% 35% no-repeat;

    .menu-lateral {
      display: flex;
      flex-direction: column;
      padding-top: 208px;
      padding-left: 120px;

      .header-menu {
        display: flex;
        align-items: center;

        img {
          width: 50.02px;
          height: 36.06px;
          padding-right: 23px;
        }
        p {
          font: 700 20.6px "Inter", sans-serif;
          color: #3affe5;
          line-height: 26px;
        }
      }

      .body-menu {
        h1 {
          font: 400 65.15px "Fredoka One", sans-serif;
          color: #fff;
          margin-top: 26px;
          letter-spacing: -0.01em;

          strong {
            color: #3affe5;
          }
        }

        > p {
          font: 400 19.45px "Inter", sans-serif;
          color: #fff;
          line-height: 29px;
          margin-top: 32px;
          letter-spacing: 0.38px;
          width: 523px;
          height: 87px;
        }
        a {
          text-decoration: none;

          button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 116px;

            width: 380.41px;
            height: 59.33px;
            background: #3affe5;
            border-radius: 6px;
            margin-top: 32px;
            cursor: pointer;
            transition: filter 0.2s;

            &:hover {
              filter: brightness(0.9);
            }

            p {
              font: 700 17.45px "Inter", sans-serif;
              color: #252160;
              letter-spacing: -0.618281;
              padding-right: 32.57px;
              flex: none;
            }
          }
        }
      }
    }

    .images {
      display: flex;
      height: 656.83px;
      width: 586.23px;
    }
  }
}
