#navbar {
  @media (max-width: 895px) {
    .logoNav {
      .logoWeb {
        width: 0px;
        height: 0px;
        padding: 0px;
        opacity: 0;
      }
      .logoMobile {
        transition: 1.82s all;
        width: 52px;
        height: 38.76px;
        opacity: 1;
      }
    }
  }

  @media (max-width: 753px) {
    .navMenu {
      .barsMenu {
        transition: 1.82s all;
        margin-right: 50px;
        width: 52px;
        height: 38.76px;
        opacity: 1;
      }

      a {
        display: none;
      }
      button {
        display: none;
      }
    }
  }
}
