#landing5 {
  .app {
    @media (max-width: 1271px) {
      transition: 1.8s all;
      height: 550px;
      justify-content: space-around;
    }
    @media (max-width: 980px) {
      flex-direction: column-reverse;
      height: 863px;
    }

    .cellphone {
      img {
        @media (max-width: 1271px) {
          transition: 1.8s all;
          width: 290.77px;
          height: 501.88px;
          margin: 0;
        }
        @media (max-width: 980px) {
          margin-bottom: 103px;
        }
        @media (max-width: 360px) {
          margin-bottom: 105px;
        }
      }
    }

    .app-box {
      @media (max-width: 1361px) {
        transition: 1.8s all;
        width: 490px;
      }
      @media (max-width: 980px) {
        transition: 1.8s all;
        align-items: center;
        width: 294px;
        padding: 0;
        margin-top: 295px;
        margin-bottom: 107px;
      }

      .header-menu {
        @media (max-width: 980px) {
          transition: 1.8s all;
          flex-direction: column;
        }

        p {
          @media (max-width: 980px) {
            transition: 1.8s all;
            font-size: 14px;
            line-height: 26px;
            padding-top: 23px;
          }
        }
      }

      .body-menu {
        > p {
          @media (max-width: 1361px) {
            transition: 1.8s all;
            width: 400px;
            text-align: center;
            padding-bottom: 15px;
          }

          @media (max-width: 980px) {
            width: 294px;
            height: 60px;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.38px;
          }
          strong {
            @media (max-width: 980px) {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
        a {
          button {
            @media (max-width: 980px) {
              width: 294px;
              height: 45.85px;
            }
          }

          .button-content {
            p {
              @media (max-width: 980px) {
                font-size: 13.4862px;
                text-align: center;
                letter-spacing: -0.477839px;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    .fale-conosco {
      @media (max-width: 650px) {
        transition: 1.8s all;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      .logo-app {
        .logo-web {
          @media (max-width: 1325px) {
            transition: 1.8s all;
            margin-left: 50px;
            position: absolute;
          }
          @media (max-width: 650px) {
            position: relative;
            margin-top: 63px;
            width: 173px;
            height: 32px;
          }
        }
      }

      .contato {
        @media (max-width: 650px) {
          transition: 1.8s all;
          flex-direction: column-reverse;
          width: 200px;
          padding: 0;
          align-items: center;
        }

        .store {
          @media (max-width: 1325px) {
            transition: 1.8s all;
            flex-direction: column;
            margin: 0;
            margin-bottom: 50px;
          }
          @media (max-width: 650px) {
            margin-bottom: 82px;
            margin-left: 30px;
            justify-content: center;
            width: 181px;
            height: 68px;
          }
        }

        .contatos-endereco {
          @media (max-width: 1150px) {
            transition: 1.8s all;
            flex-direction: column;
            align-items: center;
          }

          @media (max-width: 650px) {
            margin-top: 20px;
          }

          h1 {
            @media (max-width: 1150px) {
              padding: 20px;
              text-align: center;
            }
          }
          p {
            @media (max-width: 1150px) {
              padding: 0;
              text-align: center;
            }
          }
        }
      }
    }

    .redes-sociais {
      @media (max-width: 980px) {
        margin-right: 50px;
      }
      @media (max-width: 750px) {
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        height: 300px;
        border-top: none;
      }

      .footer-responsive {
        @media (max-width: 750px) {
          flex-direction: column-reverse;
          align-items: center;
          margin-bottom: 60px;
        }

        .p {
          @media (max-width: 750px) {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          p {
            padding: 5px;
          }
        }
      }
      @media (max-width: 750px) {
        button {
          margin: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}
