#landing5 {
  height: 100vh;

  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 672px;
    width: 100%;
    background: #252160;

    .cellphone {
      display: flex;
      margin-bottom: 85px;
    }

    .app-box {
      width: 545px;
      height: 246.4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 217px;
      padding-left: 100px;
      padding-bottom: 213px;

      .header-menu {
        display: flex;
        align-items: center;

        img {
          width: 50.02px;
          height: 36.06px;
        }

        p {
          font: 700 20.6px "Inter", sans-serif;
          color: #3affe5;
          margin: 0px 23px;
        }
      }

      .body-menu {
        > p {
          font: 400 19.45px "Inter", sans-serif;
          color: #ffffff;
          width: 510px;
          height: 87px;
          line-height: 29px;
          letter-spacing: 0.38px;
          padding-top: 36px;

          strong {
            font: 600 19.45px "Inter", sans-serif;
          }
        }

        a {
          text-decoration: none;
          button {
            width: 380.41px;
            height: 59.33px;
            background: #3affe5;
            border-radius: 6px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 116px;
            margin-top: 32px;
            cursor: pointer;
          }

          .button-content {
            display: flex;
            flex: none;
            align-items: center;

            p {
              font: 700 17.45px "DM Sans", sans-serif;
              color: #252160;
              text-align: center;
              letter-spacing: -0.618281px;
              margin-right: 24px;
            }
          }
        }
      }
    }
  }

  .footer {
    height: 373px;
    width: 100%;

    .fale-conosco {
      display: flex;
      justify-content: flex-start;

      .logo-app {
        .logo-web {
          width: 203.06px;
          height: 38px;
          margin-top: 86px;
          margin-left: 160px;
          position: absolute;
        }
      }

      .contato {
        display: flex;
        justify-content: flex-start;
        padding-top: 86px;

        .store {
          display: flex;
          width: 359px;
          height: 68px;
          padding-top: 100px;
          padding-right: 36px;
          margin: 0px 60px 0px 160px;
          cursor: pointer;
        }
        .contatos-endereco {
          display: flex;

          h1 {
            font: 500 20px "Inter", sans-serif;
            color: #252160;
          }

          p {
            font: 400 17px "Inter", sans-serif;
            color: #7b7b7b;
            flex: none;
            padding-top: 13px;
            line-height: 30px;

            width: 233px;
          }
        }
      }
    }

    .redes-sociais {
      border-top: 1px solid rgba(84, 84, 212, 0.34);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      padding-left: 145px;
      margin-top: 51px;

      .footer-responsive {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        width: 100%;

        .p {
          display: flex;
          font: 400 16px "Work Sans", sans-serif;
          color: #7b7b7b;
        }
        .icons {
          margin-right: 20px;
          .facebook {
            margin-right: 32.59px;
          }
          .twitter {
            margin-right: 32.59px;
          }
        }
      }

      button {
        width: 58px;
        height: 58px;
        background: #252160;
        border-radius: 999px;
        cursor: pointer;
        border: 0;
        margin-right: 20px;
      }
    }
  }
}
